@import '../../scss/variables';
@import '../../scss/mixins';

.Product {
	max-width: 100%;

	&__image {
		width: 100%;
		margin-bottom: 16px;

		img {
			width: 100%;
		}
	}

	&__name {
		cursor: pointer;
		display: inline-block;
		&:hover {
			color: $color-secondary;
		}
	}

	&__description {
		margin-bottom: 16px;
	}

	&__price {
		display: flex;
		justify-content: space-between;
		align-items: center;

		span {
			font-weight: 700;
			font-size: 24px;
		}
	}
}

.Products {
	margin-bottom: 32px;
	gap: 32px;
	@include container();
	@include display-grid();
	@include grid-template-columns(1fr);
	@include media(tablet) {
		@include grid-template-columns(1fr 1fr);
	}
	@include media(desktop-s) {
		@include grid-template-columns(1fr 1fr 1fr);
	}
}
