@import '../../scss/variables';
@import '../../scss/mixins';

.Header {
	width: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include container();

	&__logo {
		cursor: pointer;
	}

	&__nav ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		li {
			margin-left: 24px;
			cursor: pointer;
			&:hover {
				color: $color-secondary;
			}
		}
	}
}
