// Colors
$color-primary: #fdde4b;
$color-secondary: #2877c9;
$color-black: #000000;
$color-dark: #212121;
$color-gray: #575757;
$color-lightgray: #b3b3b3;
$color-light: #cccccc;
$color-white: #ffffff;
